<div class="panel-heading">
    <ul class="nav nav-tabs">
        <li class="{{getTabClass($index)}}" role="presentation" data-ng-repeat="graph in document.current.graphs"><a href="javascript:void(0)" data-ng-click="selectGraph($index)">Graph {{$index + 1}}</a></li>
        <li role="presentation"><a href="javascript:void(0)" data-ng-click="addNewGraph()"><span class="glyphicon glyphicon-plus-sign"></span></a></li>
    </ul>
</div>
<div class="panel-body">
    <div id="graph-container" >
    </div>
    <div class="row">
        <div id="graph-options-container">
            <div class="btn-container">
                <div title="options" class="btn btn-default" data-ng-click="editOptions()"><span class="glyphicon glyphicon-cog"></span></div>
                <div title="search" class="btn btn-default" data-ng-click="openSearch()"><span class="glyphicon glyphicon-search"></span></div>
                <div data-ng-show="graph.hasOpenClusters(vis)" title="collapse all" class="btn btn-default" data-ng-click="collapseClusters()"><span class="glyphicon glyphicon-resize-small"></span></div>
                <div data-ng-show="graph.hasClosedClusters(vis)" title="expand all" class="btn btn-default" data-ng-click="expandClusters()"><span class="glyphicon glyphicon-resize-full"></span></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div id="edit-node-dialog" data-ng-include="'/templates/graph-node.html'" data-ng-show="state === GRAPH_STATE.EDIT_NODE" class="col-sm-4 ng-hide panel panel-default node-dialog"></div>
    </div>
    <div class="row">
        <div id="edit-edge-dialog" data-ng-include="'/templates/graph-edge.html'" data-ng-show="state === GRAPH_STATE.EDIT_EDGE" class="col-sm-4 ng-hide panel panel-default"></div>
    </div>
</div>
<div id="graph-options-overlay" data-ng-include="'/templates/graph-options.html'" data-ng-show="state === GRAPH_STATE.EDIT_OPTIONS" data-ng-click="cancelOptions()" class="editor-overlay ng-hide"></div>
<div id="rename-overlay" data-ng-include="'/templates/graph-rename.html'" data-ng-show="state === GRAPH_STATE.RENAME_DOCUMENT" class="editor-overlay ng-hide" data-ng-click="cancelRename()"></div>
<div id="graph-search-overlay" data-ng-include="'/templates/graph-search.html'" data-ng-show="state === GRAPH_STATE.SEARCH_GRAPH" class="editor-overlay ng-hide" data-ng-click="cancelSearch()" ></div>
