<div class="container">
    <div class="panel panel-default" data-ng-click="$event.stopPropagation();">
        <div class="panel-heading">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <ul class="nav nav-tabs">
                    <li role="presentation" class="active"><a href="javascript:void(0)">Tags</a></li>
                </ul>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="pull-right">
                    <button type="button" data-ng-click="cancelOptions()" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
            </div>
        </div>
        <div class="graph-options panel-body">
            <div class="">
                <div class="col-lg-6 col-md-6">
                    <table class="table table-hover">
                        <tbody>
                        <tr data-ng-repeat="tag in graph.current.tags">
                            <td>{{tag.name}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-lg-6 col-md-6">

                </div>
            </div>
        </div>
    </div>
</div>