<div class="panel-heading">
    <ul class="nav nav-tabs">
        <li class="{{isActiveTab(graph)}}" role="presentation" data-ng-repeat="graph in graphs"><a href="javascript:void(0)" data-ng-click="select_graph($index)">Graph {{$index + 1}}</a></li>
        <li role="presentation"><a href="javascript:void(0)" data-ng-click="add_graph()"><span class="glyphicon glyphicon-plus-sign"></span></a></li>
    </ul>
</div>
<div class="panel-body">
    <div id="graph-container">
    </div>
    <div class="row">

        <div id="edit-node-dialog" data-ng-show="editor_state === window.GRAPH_STATE.EDIT_NODE" class="col-sm-4 ng-hide">
            <div>
                <div class="form-group">
                    <label for="edit_node_label">Label</label>
                    <input id="edit_node_label" type="text" class="form-control" data-ng-model="current_node.label" />
                </div>
            </div>
        </div>

    </div>
    <div id="edit-edge-dialog" class="col-sm-4 ng-hide">
        <div>

        </div>
    </div>
</div>