<div class="panel-body">
    <h4>Node: {{node.current.id}}</h4>
    <div class="form-group">
        <label for="edit_node_label">Label</label>
        <input id="edit_node_label" type="text" class="form-control" data-ng-model="node.current.label" />
    </div>

    <div class="form-group">
        <label for="edit_node_shape">Shape</label>
        <select id="edit_node_shape" class="form-control" data-ng-model="node.current.shape">
            <option value></option>
            <option data-ng-repeat="shape in node.shapes" value="{{shape}}">{{shape}}</option>
        </select>
    </div>

    <div data-ng-show="node.current.shape === 'icon'" class="ng-hide">
        <div class="form-group text-center">
            <i class="fa-3x no-fa">{{node.current._icon}}</i>
        </div>
        <div class="form-group">
            <label for="">Icon:</label>
            <select id="" class="form-control" data-ng-model="node.current._icon">
                <option value></option>
                <option data-ng-repeat="icon in node.icons" data-ng-value="icon.code">{{icon.name}}</option>
            </select>
        </div>
    </div>

    <div data-ng-show="graph.current.tags.length > 0" class="ng-hide">
        <div class="form-group">
            <label for="edit_node_tag">Tags</label>
            <select multiple id="edit_node_tag" class="form-control" data-ng-model="node.current.tags">
                <option data-ng-repeat="tag in graph.current.tags" data-ng-value="tag.id">{{tag.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="edit_node_group">Primary Tag</label>
            <select id="edit_node_group" class="form-control" data-ng-model="node.current.group">
                <option value></option>
                <option data-ng-repeat="tag in graph.current.tags | filter: node.hasTag" data-ng-value="tag.id">{{tag.name}}</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label for="edit-node-cluster">Cluster</label>
        <select id="edit-node-cluster" class="form-control" data-ng-model="node.current.cluster">
            <option value></option>
            <option data-ng-repeat="cluster in graph.current.clusters" data-ng-value="cluster.id">{{cluster.label}}</option>
        </select>
    </div>
    <div class="form-group">
        <button type="button" class="btn btn-success form-control" data-ng-click="deselectNode()">
            Save
        </button>
    </div>
</div>