<div class="container">
    <div class="panel panel-default" data-ng-click="$event.stopPropagation();">
        <div class="panel-heading">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <ul class="nav nav-tabs">
                    <li role="presentation" class="active"><a href="javascript:void(0)">Tags</a></li>
                </ul>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="pull-right">
                    <button type="button" data-ng-click="cancelOptions()" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
            </div>
        </div>
        <div class="graph-options panel-body">
            <div id="tag-view"  data-ng-show="graph.state === graph.STATES.EDIT_TAGS" class="graph-subview ng-hide">
                <div class="tag-selection">
                    <div id="tag-list" class="col-lg-3 col-md-3">
                        <div class="add-tag">
                            <div class="form-group">
                                <div class="btn btn-success form-control" data-ng-click="graph.addTag()">Add Tag</div>
                            </div>
                        </div>
                        <div class="current-tags">
                            <ul class="nav nav-pills nav-stacked">
                                <li data-ng-repeat="tag in graph.current.tags" data-ng-class="graph.tag.class(tag)" role="presentation">
                                    <a data-ng-click="graph.tag.select(tag)" href="javascript:void(0)">{{tag.name}}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div id="tag-properties" class="col-lg-9 col-md-9">
                        <div data-ng-show="graph.tag.current !== null" class="ng-hide">
                            <div class="form-group">
                                <label>Name</label>
                                <input type="text" class="form-control" data-ng-model="graph.tag.current.name" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="graph-save panel-footer">
            <div class="col-lg-2 col-md-2 col-sm-2 pull-right btn btn-sm btn-success" data-ng-click="updateOptions()">
                Save
            </div>
        </div>
    </div>
</div>