div.editor-overlay {
    position: fixed; left: 0; right: 0; top:0; bottom: 0; background-color: rgba(250, 250, 250, 0.85); z-index: 5000;
}

div.editor-overlay div.container {
    position:absolute; left: 0; right: 0; bottom: 0; top: 0;
}

div.editor-overlay div.container > div {
    top: 85px;
}

div.editor-overlay div.container div.panel {
    position: absolute; bottom: 25px; left:0; right:0;
}

div.editor-overlay div.container div.panel > div {
    overflow: hidden; position: absolute; left:0; right:0;
}

div.editor-overlay div.panel div.panel-heading {
    top:0;
}

div.editor-overlay div.panel div.panel-body {
    top: 65px; bottom: 55px;
}

div.editor-overlay div.panel  div.panel-footer {
    bottom: 0;
}

div.editor-overlay div.panel div.panel-body > div {
    position: absolute; top: 0; bottom: 0; left: 0; right:0; overflow-y:scroll;
}

div.editor-overlay div.panel div.panel-body div.graph-subview {
    overflow-y:hidden;
}

div.panel-body div.graph-subview > div {
    height: 100%; position:relative; padding: 15px;
}

div.panel-body div.graph-subview div.right-pane {
    overflow-y: scroll; border-left: solid 2px #000;
}

div.graph-subview div.left-pane > div {
    position: absolute; left: 0; right: 0; padding:15px;
}

div.graph-subview div.left-pane div.add {
    top: 0;
}

div.graph-subview div.left-pane div.current {
    bottom: 0; top: 40px; overflow-y: scroll;
}

#search-input {
    top: 40vh;
}