#graph-options-overlay .panel div.graph-save.panel-footer {
    position: absolute; left:0px; bottom: 0px; right: 0px; overflow:hidden;
}

#graph-options-overlay .graph-options .graph-subview {
    position: absolute; left: 0px; right: 0px; bottom: 50px; top: 0px;
}

div.graph-options div.graph-subview div.tag-selection {
    position: absolute; left: 0px; right: 0px; top: 0px; bottom: 0px;
}

div.tag-selection > div {
    height: 100%; overflow:hidden;
}

div#tag-list {

}

div#tag-list .add-tag {
    position: absolute; left: 0px; right: 0px; top: 0px; height: 80px; background-color: #1b6d85;
    padding: 15px;
}

div#tag-list .current-tags {
    background-color:#00ff26; overflow:hidden; overflow-y: scroll; position: absolute; top: 80px; left: 0px; right: 0px;
    bottom: 0px; padding: 15px;
}

div#tag-properties {
    border-left: solid 4px #000; padding: 20px; overflow: hidden; overflow-y: scroll;
}

